absl-py==0.7.0
aniso8601==4.0.1
astor==0.7.1
Click==7.0
Flask==1.0.2
Flask-RESTful==0.3.6
gast==0.2.2
grpcio==1.18.0
itsdangerous==1.1.0
Jinja2==2.10.1
Markdown==3.0.1
MarkupSafe==1.1.0
numpy==1.17.2
Pillow==5.4.1
protobuf==3.6.1
pytz==2018.7
PyYAML==4.2b1
scipy==1.2.0
six==1.11.0
termcolor==1.1.0
Werkzeug==0.14.1
gunicorn==19.9.0
Flask-Cors==3.0.7
virtualenv==16.0.0
pandas==0.25.1
pandocfilters==1.4.2
gensim==3.8.1
nltk==3.4.5
spacy==2.1.8
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.1.0/en_core_web_sm-2.1.0.tar.gz#egg=en_core_web_sm==2.1.0